.container {
    background-color : white;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
    min-height: 100vh;
	
    height:100%;
    background-color : rgb(214, 46, 46);
    padding: 2rem;
}

.contentContainer {
    background-color : white;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    max-width:100%;
    overflow: hidden;
    padding: 2rem;
    border-radius: 1rem;
}

.formContainer {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.checkBoxContainer {
    display: flex;
	justify-content: center;
	align-items: center;
}

.error {
    color: rgb(214, 46, 46);
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.redirect {
    display: flex;
	justify-content: center;
	color: #3498db;
	opacity:0.85;
	transition:0.25s;
}

.redirect:hover{
	opacity:1;
}